frontend_Project/node/frontend/node_modules/
frontend_Project/node/frontend/.next/
backend_Project/backend/backend/__pycache__/
backend_Project/backend/api/__pycache__/
backend_Project/backend/api/migrations/__pycache__/
backend_Project/backend/db.sqlite3
backend_Project/backend/images/*.jpg
*.env
backend_Project/backend/api/ISBNmemo.txt